<div class="modal-header">
	<h1>Edit {{activity.title}}</h1>
</div>
<div class="modal-body">
	<table>
		<tr>
			<td>Title:</td>
			<td><input ng-model="activity.title" size="31"/></td>
		</tr>
		<tr>
			<td>Text:</td>
			<td><input ng-model="activity.text" size="255"/></td>
		</tr>
		<tr>
			<td>Tags:</td>
			<td><input ng-model="activity.tags" size="127"/></td>
		</tr>
	</table>
</div>
<div class="modal-footer">
	<button ng-click="save(activity)">Save</button>
	<button ng-click="close()">Close</button>
</div>